[user]
	name = viyoriya
	email = viyoriya@gmail.com
[core]
	editor = nvim
[color]
	ui = auto
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	grep = auto
	pager = true
	decorate = auto
	showbranch = auto
[alias]
  br  = branch
  co  = checkout
  cls = config --global --list
  di  = diff --word-diff
  dc  = diff --word-diff --cached
  fe  = fetch -v
  ff  = merge --ff-only
  lo  = log --graph --abbrev-commit --date=relative
  ll  = log --graph --date=relative --name-status --pretty
  lp  = log --graph --abbrev-commit --date=relative -p
  ls  = ls-files
  lsm = ls-files --modified
  sl  = shortlog -sn
  sub = submodule
[merge]
    tool = meld
    defaultToUpstream = true
[format]
    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[push]
    default = simple
[credential]
	helper = store
[hub]
    protocol = https
    
