<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="DBeaver"> <action name="Execute">
                <execute>dbeaver</execute>
            </action> </item>
            <item label="Fluid"> <action name="Execute">
                <execute>fluid</execute>
            </action> </item>
            <item label="Meld"> <action name="Execute">
                <execute>meld</execute>
            </action> </item>
            <item label="Sublime Text"> <action name="Execute">
                <execute>/opt/sublime_text_3/sublime_text</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Emacs"> <action name="Execute">
                <execute>gnome-terminal -e emacs</execute>
            </action> </item>
            <item label="Nano"> <action name="Execute">
                <execute>gnome-terminal -e nano</execute>
            </action> </item>
            <item label="Neovim"> <action name="Execute">
                <execute>gnome-terminal -e nvim</execute>
            </action> </item>
        </menu>
        <menu id="8" label="Education">
            <item label="GCompris"> <action name="Execute">
                <execute>gcompris-qt</execute>
            </action> </item>
        </menu>
        <menu id="6" label="Graphics">
            <item label="Color picker"> <action name="Execute">
                <execute>gcolor3</execute>
            </action> </item>
            <item label="GNU Image Manipulation Program"> <action name="Execute">
                <execute>gimp-2.10</execute>
            </action> </item>
            <item label="Inkscape"> <action name="Execute">
                <execute>inkscape</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                <execute>gnome-terminal -e alsamixer</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="FTP"> <action name="Execute">
                <execute>gnome-terminal -e ftp</execute>
            </action> </item>
            <item label="Google Chrome"> <action name="Execute">
                <execute>google-chrome-stable</execute>
            </action> </item>
            <item label="Talk"> <action name="Execute">
                <execute>gnome-terminal -e talk</execute>
            </action> </item>
            <item label="Telnet"> <action name="Execute">
                <execute>gnome-terminal -e telnet</execute>
            </action> </item>
            <item label="Vivaldi"> <action name="Execute">
                <execute>vivaldi-stable</execute>
            </action> </item>
            <item label="W3m"> <action name="Execute">
                <execute>gnome-terminal -e w3m</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Gramps"> <action name="Execute">
                <execute>gramps</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="File Manager PCManFM"> <action name="Execute">
                <execute>pcmanfm</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>gnome-terminal -e git</execute>
            </action> </item>
            <item label="ranger"> <action name="Execute">
                <execute>gnome-terminal -e ranger</execute>
            </action> </item>
            <item label="Terminal"> <action name="Execute">
                <execute>gnome-terminal</execute>
            </action> </item>
            <item label="Terminator"> <action name="Execute">
                <execute>terminator</execute>
            </action> </item>
            <item label="Vifm"> <action name="Execute">
                <execute>gnome-terminal -e vifm</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="About"> <action name="Execute">
                        <execute>gnome-control-center info-overview</execute>
                    </action> </item>
                    <item label="Adobe Flash Player"> <action name="Execute">
                        <execute>flash-player-properties</execute>
                    </action> </item>
                    <item label="Advanced Network Configuration"> <action name="Execute">
                        <execute>nm-connection-editor</execute>
                    </action> </item>
                    <item label="Applications"> <action name="Execute">
                        <execute>gnome-control-center applications</execute>
                    </action> </item>
                    <item label="Background"> <action name="Execute">
                        <execute>gnome-control-center background</execute>
                    </action> </item>
                    <item label="Bluetooth"> <action name="Execute">
                        <execute>gnome-control-center bluetooth</execute>
                    </action> </item>
                    <item label="Color"> <action name="Execute">
                        <execute>gnome-control-center color</execute>
                    </action> </item>
                    <item label="Date &amp; Time"> <action name="Execute">
                        <execute>gnome-control-center datetime</execute>
                    </action> </item>
                    <item label="Displays"> <action name="Execute">
                        <execute>gnome-control-center display</execute>
                    </action> </item>
                    <item label="Firewall Configuration"> <action name="Execute">
                        <execute>gufw</execute>
                    </action> </item>
                    <item label="Keyboard Shortcuts"> <action name="Execute">
                        <execute>gnome-control-center keyboard</execute>
                    </action> </item>
                    <item label="Mouse &amp; Touchpad"> <action name="Execute">
                        <execute>gnome-control-center mouse</execute>
                    </action> </item>
                    <item label="Network"> <action name="Execute">
                        <execute>gnome-control-center network</execute>
                    </action> </item>
                    <item label="Notifications"> <action name="Execute">
                        <execute>gnome-control-center notifications</execute>
                    </action> </item>
                    <item label="Online Accounts"> <action name="Execute">
                        <execute>gnome-control-center online-accounts</execute>
                    </action> </item>
                    <item label="Power"> <action name="Execute">
                        <execute>gnome-control-center power</execute>
                    </action> </item>
                    <item label="Settings"> <action name="Execute">
                        <execute>gnome-control-center</execute>
                    </action> </item>
                    <item label="Sound"> <action name="Execute">
                        <execute>gnome-control-center sound</execute>
                    </action> </item>
                    <item label="Users"> <action name="Execute">
                        <execute>gnome-control-center user-accounts</execute>
                    </action> </item>
                    <item label="Wi-Fi"> <action name="Execute">
                        <execute>gnome-control-center wifi</execute>
                    </action> </item>
                </menu>
                <item label="ARandR"> <action name="Execute">
                    <execute>arandr</execute>
                </action> </item>
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="Desktop Preferences"> <action name="Execute">
                    <execute>pcmanfm --desktop-pref</execute>
                </action> </item>
                <item label="Grub Customizer"> <action name="Execute">
                    <execute>grub-customizer</execute>
                </action> </item>
                <item label="Hardware Drivers"> <action name="Execute">
                    <execute>doflicky-ui</execute>
                </action> </item>
                <item label="IBus Preferences"> <action name="Execute">
                    <execute>ibus-setup</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>libfm-pref-apps</execute>
                </action> </item>
                <item label="Software Center"> <action name="Execute">
                    <execute>solus-sc</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
            </menu>
            <item label="Budgie Desktop Settings"> <action name="Execute">
                <execute>budgie-desktop-settings</execute>
            </action> </item>
            <item label="Color Profile Viewer"> <action name="Execute">
                <execute>gcm-viewer</execute>
            </action> </item>
            <item label="dconf Editor"> <action name="Execute">
                <execute>dconf-editor</execute>
            </action> </item>
            <item label="Disk Usage Analyzer"> <action name="Execute">
                <execute>baobab</execute>
            </action> </item>
            <item label="GParted"> <action name="Execute">
                <execute>gparted</execute>
            </action> </item>
            <item label="Grsync"> <action name="Execute">
                <execute>grsync</execute>
            </action> </item>
            <item label="Htop"> <action name="Execute">
                <execute>gnome-terminal -e htop</execute>
            </action> </item>
            <item label="KeePassXC"> <action name="Execute">
                <execute>keepassxc</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="Archive Manager"> <action name="Execute">
                <execute>file-roller</execute>
            </action> </item>
            <item label="compton"> <action name="Execute">
                <execute>compton</execute>
            </action> </item>
            <item label="Window Shuffler Control"> <action name="Execute">
                <execute>/usr/lib64/budgie-window-shuffler/shuffler_control</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
